In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
customer = pd.read_csv("Dataset/Customers.csv")
transactions = pd.read_csv("Dataset/Transactions.csv")
products = pd.read_csv("Dataset/Products.csv")

In [3]:
customer.head()

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [4]:
transactions.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68

In [5]:
products.head()

  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

In [7]:
df = transactions.merge(customer, on="CustomerID", how="left")
df = df.merge(products, on="ProductID", how="left")

In [8]:
df.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68

In [9]:
customer_product_matrix = df.pivot_table(index="CustomerID", columns="ProductID", values="Quantity", aggfunc="sum").fillna(0)

In [10]:
customer_product_matrix

ProductID,P001,P002,P003,P004,P005,P006,P007,P008,P009,P010,...,P091,P092,P093,P094,P095,P096,P097,P098,P099,P100
CustomerID,,,,,,,,,,,,,,,,,,,,,
C0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
C0002,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
C0003,0.0,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0
C0005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C0196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0197,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
scaler = MinMaxScaler()
scaled_features = scaler.fit_transform(customer_product_matrix)

In [21]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(scaled_features)

In [24]:
customer_ids = customer_product_matrix.index
similarity_df = pd.DataFrame(similarity_matrix, index=customer_ids, columns=customer_ids)

In [25]:
similarity_df

CustomerID,C0001,C0002,C0003,C0004,C0005,C0006,C0007,C0008,C0009,C0010,...,C0191,C0192,C0193,C0194,C0195,C0196,C0197,C0198,C0199,C0200
CustomerID,,,,,,,,,,,,,,,,,,,,,
C0001,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.214834,0.000000,0.0,0.000000,...,0.061721,0.000000,0.0,0.469668,0.000000,0.000000,0.0,0.000000,0.418175,0.000000
C0002,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.269657,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
C0003,0.000000,0.0,1.000000,0.101987,0.308697,0.000000,0.000000,0.322868,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
C0004,0.000000,0.0,0.101987,1.000000,0.174906,0.000000,0.000000,0.051450,0.0,0.074919,...,0.000000,0.000000,0.0,0.082451,0.000000,0.000000,0.0,0.000000,0.163137,0.000000
C0005,0.000000,0.0,0.308697,0.174906,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.319247,0.0,0.083189,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C0196,0.000000,0.0,0.000000,0.000000,0.000000,0.145671,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0,0.000000,0.226839,0.000000
C0197,0.000000,0.0,0.000000,0.000000,0.000000,0.327761,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.150564,0.000000,1.0,0.000000,0.000000,0.000000
C0198,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.385076
C0199,0.418175,0.0,0.000000,0.163137,0.000000,0.000000,0.000000,0.048418,0.0,0.000000,...,0.000000,0.000000,0.0,0.392807,0.137564,0.226839,0.0,0.000000,1.000000,0.000000
C0200,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.385076,0.000000,1.000000

In [27]:
def get_similar_customers(customer_id):
    if customer_id not in similarity_df.index:
        return "Customer ID not found!"
    
    similar_customers = similarity_df[customer_id].sort_values(ascending=False).index[1:4]  # Exclude self, get top 3
    results = [(cust_id, similarity_df.at[customer_id, cust_id]) for cust_id in similar_customers]
    
    return results

In [34]:
user_id = input("Enter Customer ID (e.g., C0001): ")
recommendations = get_similar_customers(user_id)
print(f"\nTop 3 similar customers for {user_id}:")
for cust, score in recommendations:
    print(f"- {cust} (Similarity Score: {score:.2f})")

Enter Customer ID (e.g., C0001):  C0004

Top 3 similar customers for C0004:
- C0070 (Similarity Score: 0.36)
- C0063 (Similarity Score: 0.35)
- C0133 (Similarity Score: 0.32)

In [37]:
df = pd.DataFrame(recommendations, columns=['Customer ID', 'Similarity Score'])

In [39]:
df.to_csv("Lookalike.csv", index=False)